<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BZSE</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/vendor/js/underscore.min.js"></script>
    <script src="/static/vendor/js/angular.min.js"></script>
    <script src="/static/vendor/js/angular-animate.min.js"></script>
    <script src="/static/vendor/js/angular-cookies.min.js"></script>
    <script src="/static/vendor/js/angular-resource.min.js"></script>
    <script src="/static/vendor/js/angular-route.min.js"></script>
</head>
<body ng-app="bzseApp" ng-controller="BZSEController">
    <header class="header cf">
        <div class="container">
            <h1>BZSE</h1>

            <form class="pure-form">
                <span class="input-wrapper">
                    <input type="text" id="symbol-input"
                           placeholder="Enter symbols..."
                           ng-model="bzse.symbols.input">
                    <span id="clear-symbols"
                          ng-show="bzse.symbols.input" ng-click="bzse.symbols={}">
                        &times;
                    </span>

                </span>
                <button class="pure-button-primary pure-button"
                        ng-disabled="!bzse.symbols.input"
                        ng-click="getSymbolData(bzse.symbols.input)">Lookup</button>
            </form>
        </div>
    </header>

    <div id="content" class="container">
        <div class="well pure-error" ng-if="bzse.symbols.errors.length">
            No data available for
            <span ng-repeat="error in bzse.symbols.errors" class="error-symbol">
                [[ error.symbol ]]</span>.
        </div>

        <table id="symbol-lookup" class="pure-table pure-table-horizontal"
               ng-if="bzse.symbols.data.length">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Ask Price</th>
                    <th>Bid Price</th>
                    <th>Quantity</th>
                    <th>Buy</th>
                    <th>Sell</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in bzse.symbols.data">
                    <td>[[ data.name ]] ([[ data.symbol ]])</td>
                    <td>[[ data.askPrice | currency ]]</td>
                    <td>[[ data.bidPrice | currency ]]</td>
                    <td>
                        <form class="pure-form">
                            <input type="number" class="qty-input" min="0"
                                   ng-model="data.quantity">
                        </form>
                    </td>
                    <td>
                        <button class="pure-button pure-warning"
                                ng-click="buyStock(data)"
                                ng-disabled="!data.quantity ||
                                             data.askPrice * data.quantity > bzse.cash">
                                Buy
                                <span ng-if="data.quantity">
                                    [[ data.askPrice * data.quantity | currency ]]
                                </span>
                        </button>
                    </td>
                    <td>
                        <button class="pure-button pure-success"
                                ng-click="sellStock(data)"
                                ng-disabled="!data.quantity ||
                                             !data.portfolio ||
                                             (data.portfolio && data.quantity > data.portfolio.quantity)">
                                Sell
                                <span ng-if="data.quantity">
                                    [[ data.bidPrice * data.quantity | currency ]]
                                </span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="portfolio">
            <h2>
                Current Portfolio
                <span id="cash">Cash:
                    <span ng-class="{green: bzse.cash >= initialCash,
                                     red: bzse.cash < initialCash}">
                        [[ bzse.cash | currency ]]
                    </span>
                </span>
            </h2>

            <p class="well">
                Your portfolio is empty. Invest some of that green!
            </p>

            <table id="" class="pure-table pure-table-horizontal"
                   ng-if="bzse.portfolio.length">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Quantity</th>
                        <th>Price Paid</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in bxse.portfolio">
                        <td>[[ item.company ]]</td>
                        <td>[[ item.quantity ]]</td>
                        <td>[[ item.pricePaid ]]</td>
                        <td>
                            <button class="pure-button pure-button-primary">
                                View Current
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        <div class="container">
            <a href="" ng-click="resetBZSE()">Reset</a>
            <a target="_blank" href="http://static.careers.benzinga.com.s3-website-us-east-1.amazonaws.com/benzinga-code-challenge.html">Benzinga Exhange Code Challenge</a>
        </div>
    </footer>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/directives.js"></script>
    <script src="/static/js/services.js"></script>
</body>
</html>
