<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BZSE</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="/static/vendor/js/underscore.min.js"></script>
    <script src="/static/vendor/js/angular.min.js"></script>
    <script src="/static/vendor/js/angular-animate.min.js"></script>
    <script src="/static/vendor/js/angular-cookies.min.js"></script>
    <script src="/static/vendor/js/angular-resource.min.js"></script>
    <script src="/static/vendor/js/angular-route.min.js"></script>
</head>
<body ng-app="bzseApp" ng-controller="BZSEController">
    <header class="header cf">
        <div class="container">
            <h1>BZSE</h1>

            <form class="pure-form">
                <input type="text" id="symbol-input"
                       placeholder="Enter symbols..." ng-model="symbolInput">
                <button class="pure-button-primary pure-button"
                        ng-disabled="!symbolInput"
                        ng-click="getSymbolData(symbolInput)">Lookup</button>
            </form>
        </div>
    </header>

    <div id="content" class="container">
        <p class="well pure-error" ng-if="symbolErrors.length">
            No data available for
            <span ng-repeat="error in symbolErrors" class="error-symbol">
                [[ error.symbol ]]</span>.
        </p>

        <table id="symbol-lookup" class="pure-table pure-table-horizontal"
               ng-if="symbolData.length">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Bid Price</th>
                    <th>Ask Price</th>
                    <th>Quantity</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in symbolData">
                    <td>[[ data.name ]] ([[ data.symbol ]])</td>
                    <td>$[[ data.bidPrice ]]</td>
                    <td>$[[ data.askPrice ]]</td>
                    <td>
                        <form class="pure-form">
                            <input type="text" class="qty-input">
                        </form>
                    </td>
                    <td>
                        <button class="pure-button pure-warning">Buy</button>
                    </td>
                    <td>
                        <button class="pure-button pure-success">Sell</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="portfolio">
            <h2>Portfolio <span id="cash">[[ bzse.cash | currency ]]</span></h2>
        </div>
    </div>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/directives.js"></script>
    <script src="/static/js/services.js"></script>
</body>
</html>
