.cf:after,.cf:before{content:" ";display:table}.cf:after{clear:both}

.container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
}

h1, h2{
    font-weight: 300;
}

header{
    background-color: #222;
    padding: .7em 0 .25em;
}

header h1{
    color: #FFF;
    margin: 0;
    font-size: 2.25em;
    float: left;
}

header form{
    float: right;
    margin-top: -2px;
}

#content{padding: 15px;}

#symbol-lookup{
    width: 100%;
    margin-bottom: 15px;
}

input.qty-input{width: 5em;}

span.error-symbol:before{content: ', ';}
span.error-symbol:first-child:before{content: none;}

#portfolio{
    padding: 15px;
    border: 1px solid #ddd;
}
#cash{float: right;}

.center{text-align: center;}

.well{
    min-height: 20px;
    padding: 15px 15px 10px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

/* extend pure css */
.pure-success, .pure-error, .pure-warning, .pure-secondary{
    color: white; border-radius: 4px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-success{background: rgb(28, 184, 65);}
.pure-error{background: rgb(202, 60, 60);}
.pure-warning{background: rgb(223, 117, 20);}
.pure-secondary{background: rgb(66, 184, 221);}
/* end extend pure css */
