.cf:after,.cf:before{content:" ";display:table}.cf:after{clear:both}

body{
    color: #333;
}

h1, h2, th{
    font-weight: 300;
}

header{
    background-color: #222;
    padding: .7em 0 .25em;
}

header h1{
    color: #FFF;
    margin: 0;
    font-size: 2.25em;
    float: left;
    letter-spacing: .05em;
}

header form{
    float: right;
    margin-top: -2px;
}

.input-wrapper{
    position: relative;
}
.input-wrapper input[type="text"]{
    padding-right: 25px;
}

#clear-symbols{
    position: absolute;
    top: 0;
    right: 14px;
    opacity: .4;
}

#clear-symbols:hover{
    opacity: .7;
    cursor: pointer;
}

#content{padding: 15px;}

#symbol-lookup{
    width: 100%;
    margin-bottom: 15px;
}

input.qty-input{width: 5em;}

span.error-symbol:before{content: ', ';}
span.error-symbol:first-child:before{content: none;}

#portfolio{
    padding: 15px;
    border: 1px solid #ddd;
}

#portfolio h2{
    margin: .25em 0;
}

#cash{float: right;}

footer{
    text-align: right;
    font-size: .85em
}

footer a, footer a:active, footer a:visited{
    text-decoration: none;
    color: #ccc;
    margin-left: 1.25em;
}

footer a:hover{
    color: #aaa;
}

.container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
}

.center{text-align: center;}

.well{
    min-height: 20px;
    padding: 15px 15px 10px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

/* extend pure css */
.pure-success, .pure-error, .pure-warning, .pure-secondary{
    color: white; border-radius: 4px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-success{background: rgb(28, 184, 65);}
.pure-error{background: rgb(202, 60, 60);}
.pure-warning{background: rgb(223, 117, 20);}
.pure-secondary{background: rgb(66, 184, 221);}
/* end extend pure css */
